@CHARSET "UTF-8";
.topmenu{
	width: 100%;
}
.topmenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 800px;
}
.topmenu li{
	display: block;
	float: left;
	min-height: 25px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	background-color: #768E59;	
}
.topmenu li a{
	color: #FFFFFF;
	text-decoration: none;	
	padding: 0 30px;	
}
.topmenu li a:HOVER{
	background-color: #5E7147;	
}
p{
	font-weight: 600;
}