<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- for testing -->    	
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="org.postgresql.Driver"
		p:url="jdbc:postgresql://localhost/college"
		p:username="postgres"
		p:password="password" /> -->	
	
	<!-- for web applying-->
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/postgres" resource-ref="true" proxy-interface="javax.sql.DataSource"/>
	
	<bean id="classroomDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcClassroomDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="groupDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcGroupDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="lecturerDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcLecturerDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="lessonIntervalDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcLessonIntervalDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="scheduleDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcScheduleDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="scheduleItemDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcScheduleItemDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="studentDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcStudentDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="subjectDao" class="com.gmail.ivanytskyy.vitaliy.dao.JdbcSubjectDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
</beans>