<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>College</display-name>
  <resource-ref>
  	<description>DB connection</description>
  	<res-ref-name>jdbc/postgres</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>CollegeServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.CollegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeServlet</servlet-name>
    <url-pattern>/jsp/scheduleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/jsp/groupResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/jsp/studentResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/jsp/subjectResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LecturerServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.LecturerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerServlet</servlet-name>
    <url-pattern>/jsp/lecturerResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassroomServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.ClassroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassroomServlet</servlet-name>
    <url-pattern>/jsp/classroomResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonIntervalServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.LessonIntervalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonIntervalServlet</servlet-name>
    <url-pattern>/jsp/lessonIntervalResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleItemServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.ScheduleItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleItemServlet</servlet-name>
    <url-pattern>/jsp/scheduleItemResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.gmail.ivanytskyy.vitaliy.controller.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/jsp/scheduleResult</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>